<div class="jumbotron">
    <img src="./burger.png" alt="hamburger"> <h1>Burgers</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">Available</div>
        <div class="col-md-6">86</div>
    </div>
    <div class="row">
        <div id = "onMenu" class="col-md-6">
            <ul>
                {{#each burgers}} {{#unless this.devoured}}
                <li>
                    {{this.burger_name}}
                    <form method = "POST" action="/burgers/update?_method=PUT" >
                        <input type="hidden" name="id" value="{{this.id}}">
                        <button type="submit">Munch!</button>
                    </form>
                </li>
                {{/unless}} {{/each}}
            </ul>
        </div>
        <div id = "eightySix" class="col-md-6">
            <ul>
                {{#each burgers}} {{#if this.devoured}}
                <li>
                    {{this.burger_name}}

                </li>
                {{/if}} {{/each}}
            </ul>
        </div>
    </div>
</div>
<h2>Add a Burger</h2>
<form class="create-update-form" action="/burgers/create" method="POST">
    <div class="form-group">
        <label for="burger_name">Burger Name:</label>
        <input type="text" id="burger_name" name="burger_name">
    </div>

    <button type="submit">Add Burger</button>
</form>
