li {
  background: #FAEBD7;
  margin: 5px;
  padding: 5px;
}

.label {
  font-weight: bold;
}
.jumbotron{
	text-align: center;
}
.create-update-form {
  background: gray;
  margin: 5px;
  padding: 5px;
}

.form-group {
  margin-bottom: 5px;
}

.sleepy{
	text-align: right;
}